body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Change this color to your desired background color */
}

.coverr-image {
  width: 100%;
  height: 80vh; /* 120% of the viewport height */

}

.image-containerr {
  position: relative;
  width: 100%;
  height: 110%; /* Make sure it takes the full height of the carousel-inner */
  overflow: hidden;
  display: flex; /* Centers content */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  background-color:red;


}

.image-containerr img {
  width: 100%;
  height: 110%; /* Make sure it takes the 50% height of the image-container */

}
.coverr-image1 {
  width: 100%;
  height: 140vh; /* 120% of the viewport height */


}

.image1-containerr {
  position: relative;
  width: 80%;
  height: 75%; /* Make sure it takes the full height of the carousel-inner */
  overflow: hidden;
  display: flex; /* Centers content */
  margin-left:10px;
margin-top:50px;

}

.image1-containerr img {
  width: 100%;
  height: 80%; /* Make sure it takes the 50% height of the image-container */
  margin-left:50px;

}
.coverr-image3 {
  width: 100%;
  height: 75vh; /* 120% of the viewport height */
}



.coverr-image4 {
  width: 100%;
  height: 100vh; /* 120% of the viewport height */
  background-color:white;
  margin-left:200px;
   border-top-left-radius: 60px; /* Adjust the value as needed */



}

.image4-containerr {
  position: relative;
  width: 90%;
  height: 120%; /* Make sure it takes the full height of the carousel-inner */
  overflow: hidden;
  display: flex; /* Centers content */
  margin-left:-150px;
 border-top-leftc-radius: 20px; /* Adjust the value as needed */

}



.image-text{
    position: absolute;
    bottom: 50px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}

.image-text p {
    color: white;
    font-size:25px;
    font-family: "Georgia", sans-serif;
    text-align: center;
}
.image-text h1 {
   color: #87680d;
   font-size:35px;
   font-family: "Georgia", sans-serif;
}

.image1-text{
    position: absolute;
    bottom: 550px; /* Adjust as needed */
    left: 650px; /* Adjust as needed */
    width:600px;
    height:100px;
    border-radius: 5px;
    margin-left:-30px;

}

.image1-text p {
        font-size: 20px;
        text-align: left; /* Centers the text */
        line-height: 1.5; /* Sets the line spacing to 1.5 */
        font-family: "Garamond", Serif;

}
.image1-text h1 {
   color: #A0522D;
   font-size:40px;
   text-align: center; /* Centers the text */
   font-family: "Lucida Handwriting", sans-serif;

}
.image3-text{
    position: absolute;
    bottom: 70px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}
.image3-text p {
    color: white;
    font-size:30px;
    font-family: "Georgia", sans-serif;
    text-align: center;
}
.image3-text h1 {
   color: #87680d;
   font-size:45px;
   font-family: "Georgia", sans-serif;
}


.image4-textt {
    position: relative;
    right: 0;
    width: 100%; /* Ensure the width is in pixels or another valid unit */
    height: 500px;
    margin-left: 30px;
    margin-top: 90px;
    animation: fadeIn 2s ease-in-out; /* Animation added */
}

.image4-textt p {
    color: #707070;
    font-size: 20px;
    line-height: 1.5; /* Sets the line spacing to 1.5 */
    font-family: "Georgia", sans-serif;
    text-align: center;
    margin-left: 30px;
    animation: fadeIn 3s ease-in-out; /* Animation added */
}

.image4-textt h1 {
    position: relative;
    color: black;
    font-size: 50px;
    font-family: "Georgia", sans-serif;
    font-weight: bold;
    margin-left: 200px;
    animation: fadeIn 1.5s ease-in-out; /* Animation added */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Optional: add some movement */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Optional: add some movement */
    }
}

/* Navbar default state */
.navbar {
    background-color: transparent; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    height: 100px;
    position: fixed;
    width: 1500px;
    top: 0;
    z-index: 10;
}

/* Navbar color when scrolled */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Change to the desired color */
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-container {
    flex-shrink: 0;
    width: 200px;
    height: 100px;
    margin-left:100px;
}

.logo {
    width: 100px; /* Set the width of the logo */
    height: 80px; /* Set the height of the logo */
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom:10px;
}

.nav-links-container {
    height: 90px;
    font-family: "Poppins", sans-serif;
    color: Orange;
    display: flex;
    margin-right: 40px;
    align-items: center; /* Aligns items vertically in the center */
}

.nav-links {
    padding: 0;
    transform: none;
    background-color: transparent;
}

.nav-links li {
    margin-right: 60px; /* Adjust the value as needed for spacing */
    display: inline-block; /* Ensures li elements are placed horizontally */
}

.nav-links a {
    color: orange;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    color: #f8f0f0;
}

.nav-links a.active {
    text-decoration: underline;
    color: pink;
}
.nav-buttons {
  display: flex;
  gap: 0; /* Removes space between buttons */
  margin-right:50px;

}

.nav-button {
  background-color:#87680d;
  color: white;
  padding: 5px 5px;
  border: 1px solid white; /* White border */
  margin: 0; /* Ensure no margin between buttons */
  cursor: pointer;
  font-size: 13px;
  font-weight:bold;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.nav-button:hover {
  background-color: #8B4000; /* Lighter shade of orange on hover */
}

.login-form-container,
 .login-form-container1{
    display: block;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    margin-top:130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 600px;
    height:800px;
}



.login-form-container h2,
 .login-form-container1 h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: "Poppins", sans-serif;

}
.login-form-container h2::after,
.login-form-container1 h2::after{
    content: ""; /* Empty content to create the line */
    display: block; /* Make the pseudo-element a block-level element */
    width: 50%; /* Adjust the width of the line */
    height: 3px; /* Thickness of the line */
    background-color: #87680d; /* Color of the line */
    margin: 10px auto 0; /* Center-align the line and add space above it */
}

.login-form-container form,
 .login-form-container1 form{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-right:20px;
    margin-top:50px;

}

.login-form-container form div,
 .login-form-container1 form div{
    margin-bottom: 15px;
}

.login-form-container form label,
.login-form-container1 form label{
    margin-top:20px;
    color: #555;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size:15px;
}

.login-form-container form input,
.login-form-container1 form input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #87680d;
    border-radius: 4px;
    margin-bottom:20px;
    width:540px;
    height:30px;
}

.login-form-container1 input[type="email"],
.login-form-container1 input[type="password"],
.login-form-container1 input[type="text"] {
    width: 100%; /* Ensures input fields take up the full width */
    padding: 10px; /* Adds padding inside the input fields */
    font-size: 16px; /* Sets the font size */
    border: 2px solid #87680d; /* Defines the border style and color */
    border-radius: 4px; /* Rounds the corners of the input fields */
    box-sizing: border-box; /* Includes padding and border in the width */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}


.login-form-container form input:focus,
 .login-form-container1 form input:focus{
    border-color: orange; /* Change the border color to orange when the input is focused */
    outline: none; /* Remove the default outline for a cleaner look */
}
.login-form-container form button,
.login-form-container1 form button{
   background-color: #87680d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height:50px;
     font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom:50px;
    margin-top:30px;
}

.login-form-container form button:hover,
 .login-form-container1 form button:hover{
    background-color: #8B4000;
}

.login-form-container p,
.login-form-container1 p {
    color: red;
    text-align: center;
}

/*Menu Table*/
.menu-table-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -300px;
    background-color:black;

}

.menu-heading {
    text-align: center;
    margin-bottom: 20px;

}

.menu-heading h1 {
    font-family: "Brush Script MT", sans-serif; /* Font style */
    font-size: 60px; /* Font size for h1 */
    font-weight: -1000;
    color: #CD7F32; /* Orange color for h1 text */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.menu-heading h2 {
    font-family: "Garamond", sans-serif; /* Font style for h2 */
    font-size: 45px; /* Font size for h2 */
    font-weight: bold; /* Normal font weight */
    color: #8B4000; /* Darker color for h2 text (or adjust to suit your design) */

}
.menu-heading h2::after {
    content: ""; /* Empty content to create the line */
    display: block; /* Make the pseudo-element a block-level element */
    width: 10%; /* Adjust the width of the line */
    height: 3px; /* Thickness of the line */
    background-color: orange; /* Color of the line */
    margin: 10px auto 0; /* Center-align the line and add space above it */
}

.menu-table {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 10px; /* Space between cells */
    width:70%;
    margin-top:100px;
    margin-left: 100px;


}

.menu-row {
    display: contents; /* Use contents to avoid creating extra grid rows */

}

.menu-cell {
    padding: 5px; /* Cell padding */
    text-align: left; /* Left-aligned text */
    background-color: transparent; /* Transparent background */
    border-bottom: 1px solid transparent; /* No borders */
    position: relative; /* Positioning for pseudo-element */
    color:white;
    font-size:20px;
    font-family: "Papyrus", sans-serif; /* Font style */
    font-weight:bold;

}
.menu-cell1 {
    padding: 5px; /* Cell padding */
    text-align: left; /* Left-aligned text */
    background-color: transparent; /* Transparent background */
    border-bottom: 1px solid transparent; /* No borders */
    position: relative; /* Positioning for pseudo-element */
    color:#CD7F32;
    font-size:20px;
    font-family: "Poppins", sans-serif; /* Font style */

}

.menu-cell:not(:last-child)::after {
    content: ''; /* Empty content for pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px; /* Width of the dividing line */
    background-color: orange; /* Color of the dividing line */
    transform: translateX(50%); /* Adjusts the line to be exactly between cells */
}

.menu-button {
    background-color: black; /* Transparent background */
    border: 2px solid orange; /* Orange border */
    color: orange; /* Orange font color */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 50px; /* Elliptical shape (adjust the value for more or less rounding) */
    font-family: "Poppins", sans-serif; /* Font style */
    font-size: 20px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    outline: none; /* Remove default button outline */
    margin-left:400px;
    margin-top:100px;
    margin-bottom: 40px;

}

.menu-button:hover {
    background-color: orange; /* Orange background on hover */
    color: white; /* White font color on hover */
    border-color: orange; /* Ensure the border color remains orange on hover */
}

/*Categorylist and details*/

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: linear-gradient(to right, #8B4000 50%, black 50%);
    height:auto;


}

.category-square {
    width: 300px;
    height: 300px;
    background-color: black; /* Dark gray background for better contrast */
    border: 3px solid #B87333; /* Border color and width */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners for a nicer shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for a better look */
    transition: transform 0.2s ease; /* Smooth transition for hover effect */

    margin:80px;
}

.category-square:hover {
    transform: scale(1.05); /* Slightly enlarge on hover for interactivity */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.category-name {
    position: center;
    bottom: 50px;
    left: 50px;
    color: white;
    font-family: "Garamond", sans-serif; /* Font style for h2 */
    font-size:25px;
    font-weight:bold;
    padding: 5px;
}

.category-detail {
    padding: 20px;
    margin-top:100px;
    margin-right:30px;
    margin-left:30px;
}
.category-detail h1 {
   text-align: center; /* Centers the text */
    font-family: "Garamond", sans-serif; /* Font style for h2 */
    font-size: 30px; /* Font size for h2 */
    font-weight: bold; /* Normal font weight */
    color: white;
    margin-bottom:20px;
}
.category-detail h1::after {
    content: ""; /* Empty content to create the line */
    display: block; /* Make the pseudo-element a block-level element */
    width: 8%; /* Adjust the width of the line */
    height: 3px; /* Thickness of the line */
    background-color: orange; /* Color of the line */
    margin: 10px auto 0; /* Center-align the line and add space above it */
}
.menu-header h1 {
     color: #87680d;
       font-size:35px;
       text-align: center; /* Centers the text */
       font-family: "Lucida Handwriting", sans-serif;
       margin-top:50px;

}

.menu-header h2 {
    text-align: center; /* Centers the text */
    font-family: "Garamond", sans-serif; /* Font style for h2 */
    font-size: 30px; /* Font size for h2 */
    font-weight: bold; /* Font weight for h2 text */
    color: white; /* Color for h2 text */
    margin-bottom: 10px; /* Add space below the heading to separate from the line */
}

.menu-header h2::after {
    content: ""; /* Empty content to create the line */
    display: block; /* Make the pseudo-element a block-level element */
    width: 90%; /* Adjust the width of the line */
    height: 10px; /* Thickness of the line */
    background-color: #CD7F32; /* Color of the line */
    margin: 40px 50px 0;  /* Center-align the line */
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #C8C8C8;
    margin-top:30px;
}

.item-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Facility Grid Styling */
.facility-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up equal space */
  gap: 3px;
  max-width: 100%; /* Set a maximum width for the grid */
  margin: 0 auto; /* Center the grid horizontally */
  margin-top:60px;
}

/* Facility Card Styling */
.facility-card {
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  height: auto; /* Adjust height to fit content */
  width: 600px; /* Ensure the card takes full width of the grid column */
  font-family: "Garamond", sans-serif; /* Font style for h2 */
  animation: fadeIn 4s ease-in-out; /* Animation added */
}

/* Facility Row Styling */
.facility-row {
  display: flex;
  align-items: center;
}

/* Facility Image Container */
.facility-image-container {
  flex: 1;
  padding-right: 20px;
}

.facility-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Facility Info Styling */
.facility-info {
  flex: 2;
}

.facility-info h2 {
  color: #F5FFFA;
  font-size: 1.5rem;
  margin: 10px 0;
}

.facility-info p {
  font-size: 18px;
  color: #F0E68C;
  margin-top: 30px;
  line-height:20px;
}

/* Facility Button Styling */
.facility-button {
  background-color: transparent;
  border: 2px solid #ffa500;
  color: #ffa500;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.facility-button:hover {
  background-color: #ffa500;
  color: #fff;
}

/* Facility Header Styling */
.facility-header h2 {
  text-align: right;
  margin: 150px 0px 0 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  font-style: italic;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .facility-grid {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  .facility-header h2 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
  }
}




/*Category Page*/
.category-page {
    padding: 20px;
}

.category-section {
    margin-bottom: 40px;
}

.category-name {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top:20px;
    margin-left:20px;
}

.items-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px; /* Adjust spacing between boxes */
    margin-left:200px;
    margin-right:200px;
}

.items-cards {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width:150px;
}

.items-image {
    width: 100%;
    height: 100px; /* Set a fixed height to ensure square shape */
    object-fit: cover;
    border-radius: 8px;
}

.items-name {
    margin-top:20px;
    height:60px;
}

.items-description {
    margin-top:-10px;
    height:150px;
    color:black;
}
.items-price {
    margin-top:15px;
    height:30px;
    font-weight:bold;
    color:brown;
}

/*Gallery*/
/* Reservation.css */

.full-gallery-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: black;

}

.galleries-container {
  width: 100%;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.galleries-button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.galleries-form-toggle-button {
  padding: 10px 20px;
  margin-right:30px;
  cursor: pointer;
  border: none;
  background-color: black;
  color:white;
  font-size: 18px;
  border-radius: 5px;
  font-weight:bold;
  transition: background-color 0.3s ease;
}

.galleries-form-toggle-button:hover {
  background-color: brown;
}

.galleries-form-toggle-button.active {
  background-color: brown;
  color: orange;
}

.galleries-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  margin-top:100px;

}

/* Individual item in the gallery *

/* Style for images */
.galleries-image {
  width: 300px; /* Ensure image fills the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  object-fit: cover; /* Ensure the image covers the container */
}

.galleries-image:hover {
  transform: scale(1.05);
  border-color: #007bff;
}

p {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.heading-gallery{
width:100%;
height:400px;
background-color:#87680d;
margin-top:100px;
}
.heading-gallery h1{
 font-family: "Georgia", sans-serif;
    font-size: 80px; /* Font size for h2 */
    font-weight: bold; /* Normal font weight */
    color: white; /* Darker color for h2 text (or adjust to suit your design) */
    margin-left:200px;
    margin-top:50px;
}
.heading-gallery h2{
 font-family: "Poppins", sans-serif; /* Font style */
    font-size: 20px; /* Font size for h2 */
    font-weight: bold; /* Normal font weight */
    color: white; /* Darker color for h2 text (or adjust to suit your design) */
    margin-left:200px;
}

/*Footer*/
/* Footer Container */
.footer {
  background-color: black;
  width:100%;
  margin-top:30px;

}

.section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 1rem;
}

.footer__col {
  flex: 1;
  margin-left:50px;
  min-width: 200px;
}
.footer__col h4{
  color:white;
  font-size:20px;
  margin-left:40px;
}


.section__header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section__description {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
  margin-top:40px;
}
.section__description1 {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
  margin-left:-100px;

}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: brown;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin-top:40px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin-left:40px;

}

.footer__links li {
  margin-bottom: 0.5rem;
}

.footer__links a {
  color: white;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.footer__socials a img {
  width: 24px;
  height: 24px;
}

.footer__bar {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  margin-top: 50px;
  font-size: 0.875rem;
}

/*Contact Page*/
.contacts-containers {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:150px;
    height:900px;
}
.contacts-containers h1 {
     text-align: center;
        margin-bottom: 20px;
        margin-left:400px;
        font-size:30px;
        color: #FF8C00;
        font-family: "Lucida Handwriting", sans-serif;
}
.contacts-containers h2 {
     text-align: center;
        margin-left:500px;
        font-size:50px;
        color: #556B2F;
        font-family: "Georgia", sans-serif;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #B8860B;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    height:650px;
    margin-top:-250px;
}

/* Form section heading */
.form-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
    margin-left:-200px;
}

/* Styling for each form group */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

/* Button styling */
.button-container {
    text-align: center;
}

.button-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.button-container button:hover {
    background-color: #0056b3;
}

/* Container for the locations section */
.locations-container {
    flex: 1;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top:-300x;
    margin-left:30px;
}

/* Locations section heading */
.locations-container h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: black;
    text-align: center;
    margin-left:-100px;
}

/* Each location details */
.location {
    margin-bottom: 20px;
}

.location h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #B8860B;
}

.location p {
    margin: 5px 0;
    font-size: 1rem;
    color: #2F4F4F;
}

/* General styling adjustments */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .form-container, .locations-container {
        margin: 0;
    }
}

/*Home login*/


 .login-home-form-container{
    display: block;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    margin-top:130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 600px;
    height:600px;
}




 .login-home-form-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: "Poppins", sans-serif;

}

.login-home-form-container h2::after{
    content: ""; /* Empty content to create the line */
    display: block; /* Make the pseudo-element a block-level element */
    width: 50%; /* Adjust the width of the line */
    height: 3px; /* Thickness of the line */
    background-color: #87680d; /* Color of the line */
    margin: 10px auto 0; /* Center-align the line and add space above it */
}


 .login-home-form-container form{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-right:20px;
    margin-top:50px;

}

.
 .login-home-form-container form div{
    margin-bottom: 15px;
}


.login-home-form-container form label{
    margin-top:20px;
    color: #555;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size:15px;
}

.
.login-home-form-container form input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #87680d;
    border-radius: 4px;
    margin-bottom:20px;
    width:540px;
    height:30px;
}


.login-home-form-container input[type="username"],
.login-home-form-container input[type="password"],
.login-home-form-container input[type="text"] {
    width: 100%; /* Ensures input fields take up the full width */
    padding: 10px; /* Adds padding inside the input fields */
    font-size: 16px; /* Sets the font size */
    border: 2px solid #87680d; /* Defines the border style and color */
    border-radius: 4px; /* Rounds the corners of the input fields */
    box-sizing: border-box; /* Includes padding and border in the width */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}



 .login-home-form-container form input:focus{
    border-color: orange; /* Change the border color to orange when the input is focused */
    outline: none; /* Remove the default outline for a cleaner look */
}

.login-home-form-container form button{
   background-color: #87680d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height:50px;
     font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom:30px;
    margin-top:30px;
}


 .login-home-form-container form button:hover{
    background-color: #8B4000;
}


.login-home-form-container p {
    color: red;
    text-align: center;
}









